<div class="row">
  <div class="col-md-4">
    <app-line-column></app-line-column>
  </div>
  <div class="col-md-4">
    <app-simple-bubble></app-simple-bubble>
  </div>
  <div class="col-md-4">
    <app-radar-multiple></app-radar-multiple>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <app-boxplot-scatter></app-boxplot-scatter>
  </div>
  <div class="col-md-4">
    <app-area-line-column></app-area-line-column>
  </div>
  <div class="col-md-4">
    <app-heatmap></app-heatmap>
  </div>
</div>
